<mat-list class="sidebar-list">
  <mat-list-item>
    <div>
      <button mat-flat-button (click)="createRecipeByHandPressed()">
        <mat-icon mat-list-icon>add</mat-icon>
        Create Recipe by Hand
      </button>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div>
      <button mat-flat-button>
        <mat-icon mat-list-icon>link</mat-icon>
        Create Recipe from Link
      </button>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div>
      <button mat-flat-button>
        <mat-icon mat-list-icon>local_dining</mat-icon>
        Create a Meal Plan
      </button>
    </div>
  </mat-list-item>

  <mat-divider></mat-divider>
  <mat-list-item>
    <div>
      <button mat-flat-button (click)="cookbookPressed()">
        <mat-icon mat-list-icon>book</mat-icon>
        Cookbook
      </button>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div>
      <button mat-flat-button>
        <mat-icon mat-list-icon>explore</mat-icon>
        Explore
      </button>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div>
      <button mat-flat-button>
        <mat-icon mat-list-icon>shopping_cart</mat-icon>
        Shopping Lists
      </button>
    </div>
  </mat-list-item>

  <mat-divider></mat-divider>
  <mat-list-item>
    <div>
      <button mat-flat-button (click)="settingsPressed()">
        <mat-icon mat-list-icon>settings</mat-icon>
        Settings
      </button>
    </div>
  </mat-list-item>
  <mat-list-item>
    <div>
      <button mat-flat-button (click)="logoutPressed()">
        <mat-icon mat-list-icon>exit_to_app</mat-icon>
        Log Out
      </button>
    </div>
  </mat-list-item>
</mat-list>
